.collapsible-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.collapsible-section-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  font-family: inherit;
}


.collapsible-section-chevron {
  width: 12px;
  height: 12px;
  transition: transform 0.2s;
  margin-left: 8px;
}

.collapsible-section-chevron.open {
  transform: rotate(180deg);
}

.collapsible-section-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 0;
}

